<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Spacedeck Open</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script>
      var ENV = {
        name: 'development',
        webHost: location.host,
        webEndpoint: location.origin,
        apiEndpoint: location.origin,
        websocketsEndpoint: location.origin.replace("https:","wss:").replace("http:","ws:"),
        options: <%- config && config.spacedeck ? JSON.stringify(config.spacedeck) : "{}" %>
      };
    </script>

    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/i18next-1.11.2.js"></script>
    <script src="/javascripts/clipboard.js"></script>

    <script src="/javascripts/lodash.compat.js"></script>
    <script src="/javascripts/fastclick.js"></script>
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/medium.patched.js"></script>
    <script src="/javascripts/route-recognizer.js"></script>

    <script src="/javascripts/backend.js"></script>
    <script src="/javascripts/link_parser.js"></script>
    <script src="/javascripts/vector-render.js"></script>
    <script src="/javascripts/mousetrap.js"></script>
    <script src="/javascripts/smoke.js"></script>
    <script src="/javascripts/helper.js"></script>
    <script src="/javascripts/packer.growing.js"></script>

    <script src="/javascripts/spacedeck_routes.js"></script>
    <script src="/javascripts/spacedeck_formatting.js"></script>
    <script src="/javascripts/spacedeck_sections.js"></script>
    <script src="/javascripts/spacedeck_spaces.js"></script>
    <script src="/javascripts/spacedeck_teams.js"></script>
    <script src="/javascripts/spacedeck_board_artifacts.js"></script>
    <script src="/javascripts/spacedeck_users.js"></script>
    <script src="/javascripts/spacedeck_account.js"></script>
    <script src="/javascripts/spacedeck_modals.js"></script>
    <script src="/javascripts/spacedeck_avatars.js"></script>
    <script src="/javascripts/spacedeck_websockets.js"></script>

    <script src="/javascripts/spacedeck_whiteboard.js"></script>
    <script src="/javascripts/spacedeck_directives.js"></script>
    <script src="/javascripts/spacedeck_vue.js"></script>

    <script>if (window.module) module = window.module;</script>
  </head>

  <body id="main" v-bind:class="{'present-mode':present_mode,'modal-open':active_modal}" v-on:click="handle_body_click($event)">
    <%- include("./partials/login.html") %>
    <%- include("./partials/space.html") %>
    <%- include("./partials/folders.html") %>
    <%- include("./partials/team.html") %>
    <%- include("./partials/account.html") %>
    <%- include("./partials/meta.html") %>
    <%- include("./partials/meta-folder.html") %>
    <%- include("./partials/modal/access.html") %>
    <%- include("./partials/modal/folder-settings.html") %>
  </body>

  <script type="text/javascript">
    window.locales = {};
    window.locales.de = {};
    window.locales.en = {};
    window.locales.es = {};
    window.locales.fr = {};
    window.locales.hu = {};
    window.locales.oc = {};
    window.locales.de.translation = <%- include("./../locales/de.js") %>;
    window.locales.en.translation = <%- include("./../locales/en.js") %>;
    window.locales.es.translation = <%- include("./../locales/es.js") %>;
    window.locales.fr.translation = <%- include("./../locales/fr.js") %>;
    window.locales.hu.translation = <%- include("./../locales/hu.js") %>;
    window.locales.oc.translation = <%- include("./../locales/oc.js") %>;
  </script>
</html>
